<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>text formating</title>
</head>
<body bgcolor="7fffd4">



<a href="../templates/school.html"> my school</a>

   


<!--first paragraph-->
	<p>

		<img src="../assets/img/IMG_3229.jpg" height="400px" width="300px">
		
		
		<marquee direction= "right" bgcolor="green"> <h1>About myself</h1> </marquee>
		<font face="arial"size = "5" color= " red">I’m <b>chheten dorje sherpa</b>,and I am 16 years old. I study at east pole secondary school.  My father’s name is Mr. sange sherpa, and my mother’s name is Mrs. saru sherpa. I have one younger sister who studies in <b> Triveni Secondary School</b> . I like watching cartoons, and my favorite cartoon character is Sinchan. sI also love playing Indoor games with my sister. And, I love playing cricket with my friends. I am a very honest and decent boy and follow all the instructions from my parents and teachers.</font>

		</p>
		<hr>

		<!--second paragraph-->
		<p>
			<img src="../assets/img/kuri_Village.jpg" height="400px" width="400px">
			<marquee direction=" right" bgcolor="dark green"> <h1>About village</h1> </marquee>
			<font face= " arial" size = "5" color= "black"> <b> Dolakha  </b>lies 132km east of Kathmandu. Dolakha Town situated north-east of of Charikot. Charikot is the headquarters of Dolakha District in the Janakpur Zone of north-eastern Nepal.The surroundigs of Charikot offer a variety of village treks.The old Newar town of Dolakha and its Bhimeshwor temple can be reached in 1 hour on foot from Charikot.The place of historical, cultural, religious and natural beauty.There are more than dozen temples and stupas including temples of Bhimeshwor, Tripura Sundari, Kali, with various cultural festivals. Statue of Bhimeshwor perspires before the grave crisis of misfortune in the country.Dolakha regarded as the home of ancient civilization. Introduced first silver coin in the history of Nepal by the ruler Indrasingh Dev (1591 to 1605). Original place of Newar community, Newar culture, and Newar language.</font>
		</p>
	</body>
	</html>
	<hr>
		

	

	
		 

	

		



		
		


		








